@using SSA_Final.Models
@using SSA_Final.ViewModels
@using SSA_Final.Interfaces
@model PagedResultViewModel<DomainScan>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Scan History</h1>

<div class="d-flex align-items-center gap-2 mb-3 flex-wrap">
    @await Html.PartialAsync("_Filters", new ScanQuery
    {
        Query = Model.Query
    })

    @await Html.PartialAsync("_SearchBar", Model.Query)
</div>

@if (!Model.HasAnyScans)
{
    <p class="text-muted">No scans yet. <a asp-controller="Dashboard" asp-action="Index">Start a scan.</a></p>
}
else
{
    <div id="resultsContainer">
        @if (!Model.Result.Items.Any())
        {
            <p>Sorry, we couldn't find any matching results.</p>
        }
        else
        {
            @await Html.PartialAsync("_ScanList", Model)
        }
    </div>
}

@section Scripts {
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el))
    </script>
    <script src="~/js/search.js"></script>
}